# Executables and build output
*.exe
*.obj
*.ilk
*.pdb
vc140.pdb

# Temporary Code Runner files
tempCodeRunnerFile*

# Keep .vscode tasks and launch configs committed for your group
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json